<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="Alpha Release 1.0" package="com.avacodehub.tracker" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="28" />
	<application android:label="TimeTracker"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>